.nav-bar{
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-decoration: none;
    padding: 0 1%;
    box-sizing: border-box;
    background-color: #EAE7E2;
    flex-shrink: 0;
}

.nav-item{
    color: #2F1D1A; 
    border-radius: 10px;
    background-color: #EAE7E2;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
}

.active-nav-item{
    background-color: #98C2C1 !important;
}

.nav-item:hover{
    background-color: #EAE7E2;
}

.nav-item:link{
    text-decoration: none;
}