.header-banner-2{
    width: 100%;
    padding: 10px;
    height: 160px;
    box-sizing: border-box;
    background-color: #2F1D1A;
    display: grid;
    grid-template-columns: 100px auto 100px;
}

.title-2{
    text-align: center;
}